.h2-register {
    display: flex;
    justify-content: start;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 10rem;
}

.register-form {
    padding-left: 20px;
}

.check input:checked {
    background-color: green;
    box-shadow: 0 0 0 0.15rem rgba(40, 167, 69, 0.5);
}

.check input:focus {
    box-shadow: 0 0 0 0.15rem rgba(40, 167, 69, 0.5);
}   
